venv/
.DS_Store
config.py
output/*
!output/.gitkeep
!output/raw_JSON_output_files/
output/raw_JSON_output_files/*
!output/raw_JSON_output_files/.gitkeep
.DS_Store
cookies.txt
collect-solar-data-crontab.log
daily-solar-summary-crontab.log