#COPY or rename this file to config.py and put your values in it
PVS6_IP = "172.27.153.1"  # or 172.27.153.1 for raspberry pi in PVS6 cabinet connected to ethernet port
# If running on computer on local wifi, replace with the IP address of the PVS6 on your local network.  Will not work outside your local network.
PVS6_SERIAL_LAST5 = "A1234"
SOLAR_INVERTERS_MAP = [[
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789"
],[
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789",
"E00123456789"]]
GOOGLE_API_CREDENTIALS={"type": "service_account",
"project_id": "XXXXXX",
"private_key_id": "XXXXX",
  "private_key": "-----BEGIN PRIVATE KEY-----\XXXXXXX\n-----END PRIVATE KEY-----\n",
  "client_email": "XXXXXX",
  "client_id": "XXXXXX",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/XXXXXXX",
  "universe_domain": "googleapis.com"
}
GOOGLE_SHEET_SPREADSHEET_ID="XXXXXXXX"